-# = form_for @comment do |f|
-#   - if @comment.errors.any?
-#     #error_explanation
-#       %h2= "#{pluralize(@comment.errors.count, "error")} prohibited this comment from being saved:"
-#       %ul
-#         - @comment.errors.full_messages.each do |message|
-#           %li= message
-#
-#   .field
-#     = f.label :user_id
-#     = f.number_field :user_id
-#   .field
-#     = f.label :prototype_id
-#     = f.number_field :prototype_id
-#   .field
-#     = f.label :content
-#     = f.text_area :content
-#   .actions
-#     = f.submit 'Save'
- if current_user

  = form_for [@prototype, @comment], html: {class: 'form-inline'}, data: {remote: true} do |f|
    %h4 Write a comment
    .row
      .form-group.col-md-10
        = f.text_area :content,class:"form-control", rows: "3", placeholder:"Your comments"
        -# %textarea.form-control{placeholder: "Your comments", rows: "3"}
      .form-group.col-md-2
        = f.submit 'Comment', class:"btn btn-primary"
        -# %button.btn.btn-primary Comment
